@model ReAl.Template.Lumino.Models.SegPersonas

@section Styles
{
	<!-- Bootstrap-Table CSS -->
	<link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
}	

@{
    ViewData["Title"] = "Details";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">SegPersonas</h1>
	</div>
</div><!--/.row-->

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Details</div>
<div class="panel-body">
<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ci)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ci)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apiestado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apiestado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apitransaccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apitransaccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usucre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usucre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Feccre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feccre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usumod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usumod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecmod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecmod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idspe">Edit</a> |
    <a asp-action="Index">Volver al Listado</a>
</div>

</div>
</div>
</div>
</div><!-- /.row -->


@section Scripts
{
	<!-- Sweetalert JavaScript -->
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
}	

