@model IEnumerable<ReAl.Template.Lumino.Models.SegPersonas>


@section Styles
{
	<!-- Bootstrap-Table CSS -->
	<link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
	<!-- Sweetalert CSS -->
	<link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
}	

@{
    ViewData["Title"] = "Index";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">SegPersonas</h1>
	</div>
</div><!--/.row-->


<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Index</div>
<div class="panel-body">
    <a asp-action="Create" title="Nuevo" class="btn btn-primary">
		<i class="fa fa-file-o"></i>
	</a>
	<table id="miTabla" data-toggle="table" data-show-columns="true" data-pagination="true"
				data-search="true" data-show-toggle="true" data-sortable="true"
				data-page-size="25" data-pagination-v-align="both" data-show-export="true">
		<thead>
			<tr>
						<th>
							@Html.DisplayNameFor(model => model.Nombres)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Apellidos)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Sexo)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Ci)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Correo)
						</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
	@foreach (var item in Model) {
			<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Nombres)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Apellidos)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Sexo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Ci)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Correo)
					</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Idspe" title="Editar" class="btn btn-primary"><i class="fa fa-edit"></i></a> 
					<a asp-action="Details" asp-route-id="@item.Idspe" title="Ver detalles" class="btn btn-warning"><i class="fa fa-indent"></i></a>
					<a asp-action="Delete" asp-route-id="@item.Idspe" title="Eliminar" class="btn btn-danger"><i class="fa fa-eraser"></i></a>
				</td>
			</tr>
	}
		</tbody>
	</table>
</div>
</div>
</div>
</div><!-- /.row -->

@section Scripts
{
	<!-- Bootstrap-Table -->
	<script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<!-- Sweetalert JavaScript -->
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
	<!-- DataTable -->
	$('#miTabla').bootstrapTable();
}	


