@model IEnumerable<ReAl.Template.Lumino.Models.SegAplicaciones>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sigla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apiestado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apitransaccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usucre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feccre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usumod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecmod)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apiestado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apitransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usucre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feccre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usumod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecmod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idsap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idsap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idsap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
